body{
    background-color: #303d46;
}
.midrow {
    background-color: #479099;
}
.midrow li p {
    font-size: 14px;
}
.container{
    max-width: 950px !important;
}
h3 {
    color: #479099;
    font-size: 21px !important;
    font-weight: 700 !important;
    font-style: normal;
    line-height: 22.5px !important;
    min-height: 21px;
}
.infor li {
    background-color: #479099;
    border-radius: 6px;
    margin: 5px;
    padding: 0px;
}
.infor li p {
    font-family: Ubuntu; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
    border: 0px;
    margin: 0px 10px 0px 10px !important;
    padding: 0px;
}

.skillInput{
    width: 300px !important;
    max-width: auto !important;
}
#detailSkill {
    width: 215px !important;
    max-width: auto !important;
}
.display1{
	list-style-image: url('/CV/static/image/li6.svg');
}